{% extends 'admin/adminhome.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Books</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            margin-bottom: 20px;
        }

        .card img {
            height: 200px;
            object-fit: cover;
        }

        .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .btn-edit {
            margin-right: 10px;
        }
    </style>
</head>

<body>
    <div class="container mt-4">
        <div class="row">
            <!-- Example of a Book Card -->



            {% for i in data %}
            <div class="col-md-4">
                <div class="card">
                {% if i.image == '/media/user1.jpg' %}
                    <img src='/media/user1.jpg' class="card-img-top" alt="Book Image">
                {% else %}
                    <img src="{{ i.image }}" class="card-img-top" alt="Book Image">
                {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{ i.fname }} {{ i.lname }}</h2>
                        <p class="card-author"> {{ i.gender }}</p>
                        <p class="card-details"> {{ i.email }}</p>
{#                        <p class="card-details">{{ i.registerationdate }}</p>#}
                        <p class="card-details"> {{ i.phonenumber }}</p>
                        <p>{% if i.LOGIN.type == 'user' %} <a href="/blockuser/{{ i.LOGIN.id }}" class="btn btn-danger">Block</a> {% else %}<a href="/unblockuser/{{ i.LOGIN.id }}" class="btn btn-info">UnBlock</a> {% endif %}</p>

                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
{% endblock %}
